html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70BG32; 
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(0.25turn, blue, orange);
    background: -moz-linear-gradient(0.25turn, blue, orange);
    background: -ms-linear-gradient(0.25turn, blue, orange);
    background: -o-linear-gradient(0.25turn, blue, orange);
    background: linear-gradient(0.25turn, blue, orange);
}
#gradient
{
height: 100%;
background-image: linear-gradient(0.25turn, blue, orange) fixed;
}

#loginFont
{
  font-family: "Times New Roman", Times, serif;
}
span {
color:red
}
h2
{
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr
{
border:0;
border-bottom:1px solid;
margin:10px -40px;
margin-bottom:30px
}
#login
{
margin: auto;
width:450px;
border-radius:10px;
border:2px solid #ccc;
padding:10px 40px 25px;
background-color:#fff;
}
#gradient
{
height: 100%;
background-image: linear-gradient(to right, blue, orange) fixed;
}
input[type=text],input[type=password]
{
width:96.5%;
padding:10px;
margin-top:8px;
border:2px solid #bbb;
padding-left:5px;
font-size:20px;
background-color:#eee;
}
input[type=submit]
{
width:100%;
background-color:#2f90ff;
color:#fff;
border:2px solid #white;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
}
#profile
{
padding:50px;
border:2px solid grey;
font-size:20px;
background-color: #fff;
}
#logout
{
float:right;
padding:5px;
}
#showLogs
{
float:left;
padding:5px;
}
#addAdmin
{
float:left;
padding:5px;
}
#changePassword
{
float:left;
padding:5px;
}
#exportData
{
float:left;
padding:5px;
}
#addUser
{
float:left;
padding:5px;
}
#addCourse
{
float:left;
padding:5px;
}
#importExcel
{
float:left;
padding:5px;
}
#deleteData
{
float:left;
padding:5px;
}
a
{
text-decoration:none;
color:#6495ed
}
i
{
color:#6495ed
}